.catalog {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 48px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 488px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
  }
}

@media screen and (min-width: 1024px) {
  .catalog {
    grid-template-columns: repeat(4, 200px);
    grid-auto-flow: row;
  }
}
